@model IEnumerable<MortoSweepstakes.Models.Match>


@{
    ViewData["Title"] = "Matches";
}

<h1>Matches</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sortable sortable table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a href="#">Team 1</a>
                @*@Html.DisplayNameFor(model => model.Team1)*@
            </th>
            <th>
                <a href="#">Score Team 1</a>
                @*@Html.DisplayNameFor(model => model.ScoreTeam1)*@
            </th>
            <th>
                <a href="#">Team 2</a>
                @*@Html.DisplayNameFor(model => model.Team2)*@
            </th>          
            <th>
                <a href="#">Score Team 2</a>
                @*@Html.DisplayNameFor(model => model.ScoreTeam2)*@
            </th>
            <th>
                <a href="#">Match Date</a>
                @*@Html.DisplayNameFor(model => model.MatchDateTime)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Team1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreTeam1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team2)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.ScoreTeam2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDateTime)
            </td>

           @* show the bet information where this matchId*@
            
                @if (User.IsInRole("Administrator"))
                {
                    <td>
                <a asp-action="Edit" asp-route-id="@item.MatchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MatchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MatchId">Delete</a>
            </td>
            }
        </tr>
        
        
}
    </tbody>
</table>
